.container
{
    background-color: black;
    width: 70%;
    text-align: center;
}

.container-1
{
    color: brown;
    padding-top: 20px;
    margin-top: 40px;
    border-color: black;
    background-color: aliceblue;
    padding-left: 70px;
}
